.subMenu{
    margin-bottom: 20px;
}
.button{

    margin-right: 20px;
    margin-bottom: 10px;

}
.button2{
    margin-left: 40px;
    margin-bottom: 20px;
}
.menuItem :nth-child(2) {
    display: inline-block;
}
.editing:hover{
    cursor: pointer;
}
.input{
    width: 250px;
    margin-right: 20px;
}