.wrapper{
    max-width: 1290px;
    margin: 20px;
    height: calc(100vh - 40px);
}

/*.toolbar {*/
/*    position: relative;*/
/*    background-color: #cdcdcd;*/
/*    width: 25px;*/
/*    padding: 10px;*/
/*    border-top-left-radius: 5px;*/
/*    border-bottom-left-radius: 5px;*/
/*}*/




/*.color-palette {*/
/*    width: 30px;*/
/*    height: 50px;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*}*/

/*.color-item {*/
/*    display: block;*/
/*    margin: 0 2px;*/
/*    width: 10px;*/
/*    height: 10px;*/
/*}*/

/*.selected {*/
/*    outline: 1px solid #000;*/
/*}*/

/*.zoom-panel {*/
/*    position: absolute;*/
/*    width: 24px;*/
/*    bottom: 10px;*/
/*    border: 1px solid #000;*/
/*    border-radius: 5px;*/
/*}*/

/*.zoom-panel div {*/
/*    text-align: center;*/
/*}*/

/*.zoom-value {*/
/*    font-size: 9px;*/
/*    padding: 5px 0;*/
/*    border-top: 1px solid #000;*/
/*    border-bottom: 1px solid #000;*/
/*}*/

/*.zoom-btn {*/
/*    cursor: pointer;*/
/*    line-height: 20px;*/
/*    font-size: 14px;*/
/*    height: 24px;*/
/*}*/